html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-image: url(https://images.unsplash.com/photo-1581642087552-f408e81c9287?crop=entropy&cs=srgb&fm=jpg&ixid=eyJhcHBfaWQiOjE0NTg5fQ&ixlib=rb-1.2.1&q=85);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: left top;
}

.js-search-input {
  margin-top: 100px;
  font-size: 24px;
  text-align: center;
  height: 50px;
  width: 600px;
  border: 1px solid rgb(94, 163, 163);
  border-radius: 10px;
  outline: none;
  font-style: italic;
  color: rgb(144, 62, 211);
  margin-bottom: 50px;
}

.language__item:last-child {
  margin-bottom: 20px;
}

.flag {
  margin-left: 30px;
}

.countries {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: rgb(110, 13, 236);
}

.country__name {
  font-size: 30px;
  color: rgb(52, 15, 121);
}

.wraper {
  display: flex;
}
